<app-clientheader></app-clientheader>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-searchbox></app-searchbox>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-md-12">
            <app-feturedcategory></app-feturedcategory>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12">
            <app-offers></app-offers>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-feturedproduct></app-feturedproduct>
        </div>
    </div>
</div>