<div class="row">
    <div class="col-md-12">
        <table class="col-md-12">
            <tbody>
                <div *ngFor="let v of Descriptive">
                    <tr class="row ">
                        <td class="col-md-4"><span class="p_specification">{{v.TITLE}}</span> </td>
                        <td class="col-md-8">
                            <ul>
                                <li>{{v.SPECIFICATION}}</li>
                            </ul>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>