<app-backtoadmindashboard></app-backtoadmindashboard>

<legend align='center'>Update Manufacturer</legend>
<mat-card style="margin: 25px 50px;">
    <div class=" text-center">
        <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput />
        <button class="imgbtn">
            <img [src]="imageToShow" alt="Avatar" width="200px" class="avatar" (click)="fileInput.click()" />
        </button>
    </div>

    <form class="m-4" [formGroup]="manufacturerForm">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Manufacturer Name</mat-label>
                    <input matInput formControlName="manufacturerName" placeholder="provide an manufacturer name">
                    <mat-error>manufacturer name is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Motto</mat-label>
                    <textarea matInput formControlName="motto"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button mat-raised-button class="btn btn-success" type="submit" [disabled]="!manufacturerForm.valid"
                    (click)="update()">Update This Manufacturer</button>
            </div>
        </div>

    </form>
</mat-card>