<h2 align='center'>Featured Category</h2>
<div class="row" align='center'>
    <div class="col-md-3">
        <div class="card">
            <i class="bi bi-pc-display-horizontal fa-lg"></i>
            <div class="card-body">
                <button type="button" class="btn btn-outline-info btn-sm">Desktop</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <i class="bi bi-phone-fill"></i>
            <div class="card-body">
                <button type="button" class="btn btn-outline-info btn-sm">Mobile</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <i class="bi bi-router"></i>
            <div class="card-body">
                <button type="button" class="btn btn-outline-info btn-sm">Router</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
            <div class="card-body">
                <button type="button" class="btn btn-outline-info btn-sm">Small</button>
            </div>
        </div>
    </div>
</div>
<div class="row" align='center'>
    <div class="col-md-3">
        <div class="card">
            <i class="bi bi-pc-display-horizontal"></i>
            <div class="card-body">
                <button type="button" class="btn btn-outline-info btn-sm">Small</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <i class="bi bi-pc-display-horizontal"></i>
            <div class="card-body">
                <button type="button" class="btn btn-outline-info btn-sm">Small</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <i class="bi bi-pc-display-horizontal"></i>
            <div class="card-body">
                <button type="button" class="btn btn-outline-info btn-sm">Small</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <i class="bi bi-pc-display-horizontal"></i>
            <div class="card-body">
                <button type="button" class="btn btn-outline-info btn-sm">Small</button>
            </div>
        </div>
    </div>
</div>