<app-clientheader></app-clientheader>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 text-danger">
            <i class="bi bi-award">{{points}} points earned</i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            UserName
        </div>
        <div class="col-md-4">
            {{profile.USER_NAME}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Email
        </div>
        <div class="col-md-4">
            {{profile.EMAIL}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            First Name
        </div>
        <div class="col-md-4">
            {{profile.FIRST_NAME}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Last Name
        </div>
        <div class="col-md-4">
            {{profile.LAST_NAME}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Account Created
        </div>
        <div class="col-md-4">
            {{profile.ACCOUNT_CREATE_DATE | date :'medium'}}
        </div>
    </div>

    <form class="m-4" [formGroup]="profileForm">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="ADDRESS_DESCRIPTION" placeholder=""></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="PHONE_NUMBER" placeholder="">
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <button mat-raised-button class="btn btn-success" type="submit" (click)="submit()">Update Address and
                    phone
                </button>
            </div>
        </div>
    </form>

</div>