<app-clientheader></app-clientheader>
<Particles id="tsparticles" [options]="particlesOptions"></Particles>
<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

            <button class="nav-link active" id="nav-login-tab" data-bs-toggle="tab" data-bs-target="#nav-login"
                type="button" role="tab" aria-controls="nav-login" aria-selected="false">login</button>
            <button class="nav-link" id="nav-signup-tab" data-bs-toggle="tab" data-bs-target="#nav-signup" type="button"
                role="tab" aria-controls="nav-signup" aria-selected="true">signup</button>

        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade " id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab">
            <app-signup></app-signup>
        </div>
        <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
            <app-login></app-login>
        </div>
    </div>
</div>