<form class="m-4" [formGroup]="loginForm">
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="provide an username">
        <mat-error>username is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error>password is required</mat-error>
    </mat-form-field>


    <button mat-raised-button type="submit" class="btn btn-success" type="submit" [disabled]="!loginForm.valid"
        (click)="submit()">Let Me In</button>

</form>