.navbar {
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
}

.navbar .navbar-brand {
  padding-left: 0;
  font-size: 20px;
  padding-right: 50px;
}
.navbar .navbar-brand b {
  color: #33cabb;
}
.end {
  margin-left: 5px;
}

.userName {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.userName:hover {
  cursor: pointer;
}

.buttonZeroOutline {
  border: none;
  box-shadow: none;
  width: 60px;
}

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
